<div class="navbar-search">

  <div class="search-dropdowns btn-group">
    <button class="btn btn-mini btn-link saved">
      {{ i18n 'search.savedsearches.button' }} <span class="caret"></span>
    </button>
    {{#if advancedSearch.length}}
      <a class="btn dropdown-toggle btn-mini btn-link advanced" data-toggle="dropdown">
        {{ i18n 'search.advanced.default' }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu advanced-dropdown">
          <li><a href="#">{{ i18n 'search.advanced.default' }}</a></li>
          {{#each advancedSearch}}
          <li><a data-saved-search-url="{{savedSearchUrl}}" data-component-path="{{ componentPath }}" href="#">{{ displayName }}</a></li>
          {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="search-query-container">
    <input type="text" class="search-query" placeholder="{{ i18n 'search.field.placeholder' }}">
    <a style="display:none"></a>
  </div>

  <div class="below-query">
    <div class="extensions"></div>
    <span class="search-hits">&nbsp;</span>
  </div>
  <div class="search-query-validation"></div>
</div>

{{#each types}}
<div class="search-type search-type-{{cls}} {{#if selected}}active{{/if}}"></div>
{{/each}}

