<li class="user-row" data-user-id="<%= user.userId %>"
>
  <div class="user-info">
    <div class="user-status st-<%= user.status ? user.status.toLowerCase() : 'unknown' %>"></div>
      <span class="user-displayname"><%= user.displayName %></span>
      <% if (user.displayName.toLowerCase() !== (user.email || user.userName).toLowerCase()) { %>
      <div class="subtitle"><%= user.email || user.userName %></div>
      <% } %>
  </div>

  <span class="badge permissions"
         data-access="<%= user.access.toUpperCase() %>"
         style="<%= editable ? '' : 'cursor:default' %>"
         ><%= user.permissionLabel %> <% if (editable) { %><span class="caret"></span><% } %></span>
</li>
