<div class="form">
  <div class="errors"></div>

  <div class="relationship-info">
    <div class="src-term"><span>{{ source }}</span></div>

    <div class="arrow-wrap">
      <div class="arrow"></div>
      <a class="invert" href="#">{{ i18n 'relationship.form.button.invert' }}</a>
    </div>

    <div class="dest-term"><span>{{ dest }}</span></div>
  </div>

  <div class="selector"></div>
  <div class="justification"></div>
  <div class="visibility"></div>

  <div class="buttons">
    <button class="btn btn-link btn-small cancel">{{ i18n 'relationship.form.button.cancel' }}</button>
    <button class="create-statement btn btn-small btn-primary">{{ i18n 'relationship.form.button.create' }}</button>
  </div>
</div>
