<span class="title"><%= title %></span>
<ul>
  <li class="graph"><button title="<%= i18n('element.list.in_graph.tooltip') %>" href="#"><%= i18n('element.list.in_graph') %></button></li>
</ul>
<div>
  <span class="date"><% if (timeSubtitle) { %><%= timeSubtitle %><% } %></span>
  <span class="source"><% if (subtitle) { %><%= subtitle %><% } %></span>
</div>
