<%= title %>
<ul>
  <li class="graph"><button title="<%= i18n('element.list.in_graph.tooltip') %>" href="#"><%= i18n('element.list.in_graph') %></button></li>
  <li class="map"><button title="<%= i18n('element.list.in_map.tooltip') %>" href="#"><%= i18n('element.list.in_map') %></button></li>
</ul>
<div>
  <div class="preview"></div>
  <div class="active-preview"></div>
  <span class="date"><%= timeSubtitle %></span>
  <span class="source"><%= subtitle %></span>
</div>
