{{#if displayTime}}
  <div class="input-append dateField">
    <input type="text"
      data-provide="datepicker"
      placeholder="{{today}}"
      value="{{dateString}}"
      required="required" 
      class="date">
    <input type="text"
      placeholder="{{todayTime}}"
      pattern="\d+(:\d)?(\s*[amAMpmPM])?"
      required="required" 
      class="timepicker">
    <span class="add-on timezone"></span>
  </div>
{{else}}
  <input data-provide="datepicker" placeholder="{{today}}" 
    value="{{dateString}}" type="text" required></input>
{{/if}}
