<!-- Table because flexbox isnt supported enough and need [fixed width]|[remaining percent] on one line -->

<table cellpadding="0">
  <tr class="<%= (predicates || (composite && !newProperty)) ? 'input-prepend' : '' %>">

    <% if (predicates) { %>

    <td class="predicate-row">
      <span class="add-on">
        <select class="predicate">
          <option value="<"><%= i18n('field.double.form.less_than') %></option>
          <option value=">"><%= i18n('field.double.form.greater_than') %></option>
          <option value="range"><%= i18n('field.double.form.between') %></option>
          <option value="="><%= i18n('field.double.form.equal') %></option>
        </select>
      </span>
    </td>

    <% } else if (composite && !newProperty) { %>

    <td class="predicate-row">
      <span class="add-on"><%= property.displayName %></span>
    </td>

    <% } %>

    <td class="input-row">
      <input type="text" pattern="[\d,]+" value="<%= value %>" placeholder="<%= property.displayName %>">
      <input class="range-only" pattern="[\d,]+" type="text">
    </td>
  </tr>
</table>

