<div class="propertyInfoPopover popover top">
  <div class="arrow"></div>
  <div class="popover-content">
    <table class="table"></table>
    <ul class="buttons">

    {{#unless isComment}}
      {{#if canDelete}}
      <li><button class="btn btn-danger btn-small requires-EDIT">{{ i18n 'popovers.property_info.button.delete' }}</button></li>
      {{/if}}

      {{#if canSearch}}
      <li><button class="btn btn-search btn-small">{{ i18n 'popovers.property_info.button.search' }}</button></li>
      {{/if}}

      {{#if canEdit}}
      <li><button class="btn-edit btn btn-small requires-EDIT">{{ i18n 'popovers.property_info.button.edit' }}</button></li>
      {{/if}}
      {{#unless canEdit}}
      <li><button class="btn-add btn btn-small requires-EDIT">{{ i18n 'popovers.property_info.button.add' }}</button></li>
      {{/unless}}
    {{/unless}}

    {{#if isComment}}
      {{#if canDelete}}
      <li><button class="btn btn-danger btn-small requires-COMMENT">{{ i18n 'popovers.property_info.button.delete' }}</button></li>
      {{/if}}
      {{#if isCommentCreator}}
      <li><button class="editadd btn btn-small requires-COMMENT btn-edit">{{ i18n 'popovers.property_info.button.edit' }}</button></li>
      {{/if}}
      <li><button class="reply btn btn-small requires-COMMENT">{{ i18n 'popovers.property_info.button.reply' }}</button></li>
    {{/if}}
    </ul>
  </div>
</div>
