
<% _.keys(actions).forEach(function(actionName) { %>
  <% if (_.isString(actions[actionName])) { %>
  <button 
      class="actionbarbutton"
      data-event="<%= actions[actionName] %>"
    ><%= actionName %></button>
  <% } else { %>
  <button 
      class="actionbarbutton <%= actions[actionName].className || '' %>"
      style="<%= actions[actionName].style || '' %>"
      data-event="<%= actions[actionName].event %>"
    ><%= actionName %></button>
  <% } %>
<% }); %>
