<div class="org-visallo-devTools-elementEditor">
  <ul class="nav nav-list">
      <li class="nav-header">Workspace ID</li>
      <li><input class="workspaceId" placeholder="{{ i18n 'admin.element.editor.placeholder.workspaceId' }}" type="text" value="{{ workspaceId }}"></li>


    <li class="nav-header">Element ID</li>
    <li>
      <input class="elementId" placeholder="{{ i18n 'admin.element.editor.placeholder.elementId' }}" type="text" value="{{ elementId }}">
    </li>
    <li>
      <button class="btn refresh" disabled>{{ i18n 'admin.element.editor.button.load' }}</button>
      <button class="btn btn-danger delete-element" disabled>{{ i18n 'admin.element.editor.button.delete' }}</button>
    </li>
      <li class="divider"></li>
  </ul>
</div>
