<html>
<head>
    <title>Change Password</title>
    <link href="css/visallo.css" rel="stylesheet" media="screen">
    <style>
      .org-visallo-usernamepassword form {
          width: 15em;
          margin: auto;
      }
      .org-visallo-usernamepassword input#old,
      .org-visallo-usernamepassword input#confirm {    
          height: 2.5em;
          margin-bottom: 0.5em;
      }
      .org-visallo-usernamepassword button {
          width: 100%;
          margin-top: 1em;
      }
    </style>
    <script src="libs/jquery/jquery.js"></script>
    <script>
$(function() {
    $('.btn-primary').on('click', function(event) {
      var old = $('#old').val(),
          confirm = $('#confirm').val(),
          btn = $(this).attr('disabled', true).addClass('loading');

      event.preventDefault();

      $('.text-error').empty();
      $.post('{{ formAction }}', {
        '{{ tokenParameterName }}': '{{ token }}',
        '{{ newPasswordParameterName }}': old,
        '{{ newPasswordConfirmationParameterName }}': confirm
        })
          .fail(function(e) {
            btn.removeAttr('disabled').removeClass('loading');
            var error;
            if (/^\s*{/.test(e.responseText)) {
              try {
                var json = JSON.parse(e.responseText);
                error = json['{{ newPasswordParameterName }}'] ||
                   json['{{ newPasswordConfirmationParameterName }}'];
              } catch(e) {}
            }
            $('.text-error').text(
              error || e.statusText
            );
          })
          .done(function() {
            location.href = '../';
          });
    })
});
    </script>
</head>
<body>
<div class="logo"></div>
<div class="org-visallo-usernamepassword">
<form action="{{ formAction }}" method="POST">
  <div class="text-error"></div>
  <input type="hidden" name="{{ tokenParameterName }}" value="{{ token }}">

  <input placeholder="{{ newPasswordLabel }}" type="password" id="old" name="{{ newPasswordParameterName }}">

  <input placeholder="{{ newPasswordConfirmationLabel }}" type="password" id="confirm" name="{{ newPasswordConfirmationParameterName }}">

  <button class="btn btn-primary">Change Password</button>
</form>
</div>
</body>
</html>
